<template>
  <div id="app" class="todoapp">
    <Header @addToto="handleAdd"></Header>
    <Section 
      :todos="todos" 
      @removeTodo="handleRemove"  
      @checkCompleted="handleCheckCompleted"
      @doneEdit="handleDoneEdit" >
    </Section>
    <!-- <Footer></Footer> -->
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueFire from 'vuefire'
  import Firebase from 'firebase'

  import Header from './components/Header.vue'
  import Section from './components/Section.vue'
  // import Footer from './components/Footer.vue'


  Vue.use(VueFire)

  var config = {
    apiKey: "AIzaSyAgn5dfOh8p6FRF3SCg7PrZDzjpoxnH8_w",
    authDomain: "todolist-bc901.firebaseapp.com",
    databaseURL: "https://todolist-bc901.firebaseio.com",
    projectId: "todolist-bc901",
    storageBucket: "todolist-bc901.appspot.com",
    messagingSenderId: "887552720758"
  };
  var firebaseApp = Firebase.initializeApp(config)
  var db = firebaseApp.database()
  var taskRef = db.ref('tasks')

  export default {
    name: 'app',
    data() {
      return {
        // newTodo: "",
        // editedTodo:null
      }
    },
    components: {
      Header, Section
    },
    firebase: {
      todos: taskRef
    },
    methods: {
        handleAdd(newTodo){
          this.$firebaseRefs.todos.push({
            text: newTodo,
            completed: false
          })
        },
        handleRemove(todo){
          this.$firebaseRefs.todos.child(todo['.key']).remove();
        },
        handleCheckCompleted(todo){
          todo.completed = !todo.completed;
          this.$firebaseRefs.todos.child(todo['.key']).update({completed:todo.completed})
        },
        handleDoneEdit(todo){
          this.$firebaseRefs.todos.child(todo['.key']).update({text:todo.text})
        }      
    }
  }
</script>

<style>
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto  !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.todoapp {
    background: #fff;
    margin: 270px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

</style>